@for (item of navItems; track item.href) {
  <button
    [class.dock-active]="activeLink() === item.label.toLowerCase()"
    (click)="navigate(item)"
    [attr.aria-current]="activeLink() === item.label.toLowerCase() ? 'page' : null"
  >
    @switch (item.icon) {
      @case ('home') {
        <app-icon-home />
      }
      @case ('user') {
        <app-icon-user />
      }
      @case ('code') {
        <app-icon-code />
      }
      @case ('mail') {
        <app-icon-mail />
      }
    }
    <span class="dock-label">{{ item.label }}</span>
  </button>
}
