<footer class="footer footer-center bg-base-200 text-base-content p-10">
  <nav class="grid grid-flow-col gap-4">
    <a class="link link-hover" href="#about">About</a>
    <a class="link link-hover" href="#contact">Contact</a>
    <a class="link link-hover" href="#skills">Skills</a>
  </nav>

  <nav>
    <div class="grid grid-flow-col gap-4">
      <a
        aria-label="GitHub Profile"
        class="btn btn-ghost btn-square"
        href="https://github.com/BenavidesMichael"
        target="_blank"
        rel="noopener noreferrer"
      >
        <app-icon-github size="md" />
      </a>
      <a
        aria-label="LinkedIn Profile"
        class="btn btn-ghost btn-square"
        href="https://www.linkedin.com/in/michael-benavides"
        target="_blank"
        rel="noopener noreferrer"
      >
        <app-icon-linkedin size="md" />
      </a>
      <a
        aria-label="Email Contact"
        class="btn btn-ghost btn-square"
        href="mailto:contact@example.com"
      >
        <app-icon-mail size="md" />
      </a>
    </div>
  </nav>

  <aside>
    <p>Copyright &copy; {{ currentYear }} - All rights reserved</p>
  </aside>
</footer>
